[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchaudio = "*"
torchvision = "*"
numpy = "*"
snntorch = "*"
scipy = "*"
tqdm = "*"
soundfile = "*"
optuna = "*"
h5py = "*"
librosa = "*"
tonic = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
