[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version="*", index="pytorch"}
torchaudio = {version="*", index="pytorch"}
torchvision = {version="*", index="pytorch"}
numpy = "*"
snntorch = "*"
scipy = "*"
tqdm = "*"
soundfile = "*"
optuna = "*"
h5py = "*"
librosa = "*"
tonic = "*"
scikit-learn = "*"
scikit-image = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.12"
